body {
  margin: 0;
  background-color: #000;
  color:#FFF
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar{
  background-color: #000;
}

.navbar > ul{
  margin: 0;
  display: flex;
  justify-content:left;
  align-items: center;    
  background-color: rgb(15, 15, 15);
  height: 3em;
}
img{
  width:5em;
  margin-right:2em;
}
.nav-item{    
  margin-right: 2em;
  margin-left:2em;
  list-style-type: none;
  color: #FFF;
  border-bottom: 4px solid rgb(32, 31, 31);
}
.nav-item:hover{
  border-bottom: 4px solid rgb(230, 106, 178);
}


#container_movie{
  position: relative; 
}

#image_accueil{
    position: relative;   
    margin-right: auto;   
    margin-left: auto;
    margin-bottom: 2em;
    margin-top: 2em;  
    border-radius: 10px;   
}

#titre_image_accueil{
    position: absolute;
    top:30vh;
    left: 18vw;
    padding-left:2em;    
    font-size: 3em;
    color:#FFF;
    text-align: center;    
}


.carousel{
  display: flex;
  overflow-x: scroll;
  scrollbar-color: rgb(102, 100, 100) rgba(0,0,0,.15);
  scrollbar-width: thin;  
  margin-bottom:2em;
  height:auto;
}
.carousel::-webkit-scrollbar {
  height: 10px;
}
.carousel::-webkit-scrollbar-track {
  background-color: #141414; 
  border-radius: 10px;
}
.carousel::-webkit-scrollbar-thumb { 
  border-radius: 10px;
  background: #6d6d6d;
}
.resultSearchFilm{
  background-color: #000;
  overflow-x: scroll;
  overflow-y:scroll;
  scrollbar-color: rgb(102, 100, 100) rgba(0,0,0,.15);
  scrollbar-width: thin; 
}
.resultSearchFilm::-webkit-scrollbar {
  height: 10px;
}
.resultSearchFilm::-webkit-scrollbar-track {
  background-color:#141414; 
  border-radius: 10px;
}
.resultSearchFilm::-webkit-scrollbar-thumb { 
  border-radius: 10px;
  background: #6d6d6d;
}
.result{
  display:flex;
  flex-direction: row;
}
.title_img > img{
  width:12em;
  margin:0.5em;
  transition: all 200ms linear;
  border-radius: 7px;    
}

.title_img > img:hover{
  transform: scale(1.1); 
}

.title_result_search{
  color: #FFF;
  padding-top: 2em;
  margin-bottom: 0.5em;
  margin-left:1em;
}
.container_img_title_row{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.poster_title > h3{
  /* margin-top: 0;
  padding-top:1em;
  margin-left: 1em;
  margin-bottom: 1.3em; */
  font-size: 1.2em;
  text-align: center;
  color:#FFF;
}

.poster_title >img{
  width:10em;
  margin:0.5em;
  margin-top: 1em;
  transition: all 200ms linear;
  border-radius: 7px; 
}

.poster_title >img:hover{
  transform: scale(1.1); 
}



.popup {
  position: fixed;  
  overflow-y: scroll;
  top:1em;
  width:80vw;
  height: 80vh;
  z-index: 9999;
  background-color: rgb(31, 30, 30);  
  border: 2px solid #FFF;
  border-radius: 10px;
}
.popup::-webkit-scrollbar {
  width: 5px;
}
.popup::-webkit-scrollbar-track {
  background-color:#141414;  
  border-radius: 10px;
}
.popup::-webkit-scrollbar-thumb { 
  border-radius: 10px;
  background: #6d6d6d;
}

.popup .content{
  color:#FFF;  
}

.popup .content h2{
  font-size: 1.2em;
}

.posterDetail_column{
width: 10em;
height:auto;
display:flex;
flex-direction: column;
}

.popup .content .close{
  display:inline-block;
  color:#FFF;  
  border: 2px solid white;
  border-radius: 10px;
  padding:1em;
}

.popup .content .close:hover{
  background-color: #6d6d6d;
}

@media (max-width: 767.98px) { 
  #titre_image_accueil{
  display:none;  
  }
  #image_accueil{
    display:none;
  }
h2{
  font-size:1.2em;
 
}

 }

